alias ..="cd .."
alias ll="ls -lh --color"
alias la="ls -lah --color"
alias sdnow="shutdown now"
alias ees="wine ~/apps/EES/ees.exe > /dev/null 2>&1 &"
alias ydl="youtube-dl -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best'"
alias xo='xdg-open'
alias config='/usr/bin/git --git-dir=/home/prophet/dotfiles --work-tree=/home/prophet'
alias qconf='vim ~/.config/qtile/config.py'
alias wifi='sudo wifi-menu'
alias atomic='~/AppImage/atomicwallet.AppImage'
alias spot='systemctl --user start spotifyd.service && spt'
alias bitwarden='~/AppImage/Bitwarden.AppImage'
alias screenadjust='~/.screenlayout/standard.sh'
alias screenrotate='~/.screenlayout/rotated.sh'
alias uskmap='setxkbmap -layout us -variant intl'
alias dbtcomp='$HOME/.scripts/dbt_compile.sh'
alias dcu='docker compose up -d'
alias dcd='docker compose down'
alias dnet='nmcli device disconnect wlan0 && nmtui'
alias gobs='cd $HOME/obsidian_personal && ga . && gcam "vault backup"; ggpull; ggpush && cd -'
alias vf='vifm .'
alias ez='exec zsh'
alias tls='tmux ls'
alias cl='clear'

## functions
mcd () {
    mkdir -p $1
    cd $1
}

gcfix () {
	message="$@"
	complete_message="fix: $message"
	gcam  "$complete_message"
}

gcfeat () {
	message="$@"
	complete_message="feat: $message"
	gcam  "$complete_message"
}

gcchore () {
	message="$@"
	complete_message="chore: $message"
	gcam  "$complete_message"
}

gcdocs () {
	message="$@"
	complete_message="docs: $message"
	gcam  "$complete_message"
}
