@import url("/home/prophet/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    font-family: "Agave Nerd Font", "Liberation Sans", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: rgba(30, 30, 46, 0.95);
    border: 2px solid rgba(137, 180, 250, 0.5);
    border-radius: 8px;
    padding: 10px;
}

tooltip label {
    color: #cdd6f4;
}

.modules-left,
.modules-center,
.modules-right {
    background: alpha(@background, 0.5);
    border-radius: 10px;
    margin: 4px;
    padding: 0 10px;
    border: 1px solid alpha(@color11, 0.5);
    font-weight: bold;
}

.modules-center{
    padding: 0 0px;
}

#workspaces {
    padding: 2px 6px;
    background: @color0;
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
}

#workspaces button {
    padding: 4px 8px;
    margin: 2px 4px;
    color: @color6;
    background: transparent;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.4s ease;
}

#workspaces button:hover,
#workspaces button.focused {
    background: rgba(255, 255, 255, 0.08);
    color: @color15;
}

#workspaces button.active {
    background: @color4;
    color: @color0;
}

#workspaces button.urgent {
    background: @color1;
    color: @color15;
}

#window {
    color: @foreground;
    padding: 0 12px;
    margin: 4px 8px;
}

#clock {
    color: @color5;
    font-weight: bold;
    padding: 0 2px;
}

#pulseaudio {
    color: @color6;
    padding: 0 10px;
}

#pulseaudio.muted {
    color: @color3;
}

#network {
    color: @color4;
    padding: 0 10px;
}

#network.disconnected {
    color: @color1;
}

#cpu {
    color: @color6;
    padding: 0 2px;
}

#memory {
    color: @color5;
    padding: 0 2px;
}

#disk {
    color: @color3;
    padding: 0 2px;
}

#battery {
    color: @color2;
    padding: 0 10px;
}

#battery.charging {
    color: @color6;
}

#battery.warning:not(.charging) {
    color: @color5;
}

#battery.critical:not(.charging) {
    color: @color1;
}

#tray {
    padding: 0 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(243, 139, 168, 0.3);
    border-radius: 8px;
}

#group-resources,
#group-connectivity,
#pulseaudio,
#network,
#cpu,
#memory,
#disk,
#battery,
#clock,
#bluetooth,
#idle_inhibitor,
#custom-updates {
    margin: 0 4px;
}

#group-resources,
#group-connectivity,
#pulseaudio,
#network,
#cpu,
#memory,
#disk,
#battery,
#clock,
#bluetooth,
#idle_inhibitor,
#custom-updates {
    margin: 0 4px;
}

#pulseaudio:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#clock:hover,
#custom-updates:hover {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    transition: all 0.2s ease;
}
